# Build artifacts
/build/
/out/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/*.sln
/*.vcxproj*
/.vs/
*.user
*.opensdf
*.sdf
*.suo
*.ncb
*.obj
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.log
*.tlog
*.lastbuildstate
*.cache
*.tmp
*.pch
*.aps
*.manifest
*.res
*.exe
*.dll
*.lib
*.exp
*.o
*.a
*.lo
*.lai
*.la
*.dylib
*.so
*.out

# XLogger runtime logs
/logs/

# Submodule specific
third_party/spdlog/.github/
third_party/spdlog/.vscode/
